<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/imgs/star.jpg">

    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">

        {{>header}}
        <p class="clr">{{message}}</p>
    </div>
    {{>footer}}

</body>

</html>